[Desktop Entry]
Name=carousel0
Exec=./qtc_device_debughelper.py app "qmlscene $@ Main.qml"
Icon=carousel0.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

